#root {
  width: 100vw !important;
  max-width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

.custom-prev,
.custom-next {
  background: white;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
  font-size: 18px;
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .marquee {
    animation: none;
  }
}

.breadcrumbs {
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.breadcrumbs a {
    text-decoration: none;
    color: #333;
}

.breadcrumbs span {
    color: #999;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
